.add-todos {
    text-align : center;
    margin: auto;
}

input {
    size: 50;
    padding: 1% 1%;
}

label {
    font-size: 20px;
    margin-right: 0.5%;
}

button {
    padding: 1% 1%;
    cursor: pointer;
    /* font-size: 15px; */
}